@model Creative.Web.Models.Song
@{
    ViewBag.Title = Model.Title;
}
@if (Model.IsActive == false)
{
    <div class="alert alert-block">
        @Model.Title is currently deactivated and will not be available for use in new event
        plans.
        @Html.ActionLink("Reactivate", "ReactivateSong", new { id = Model.Id })
    </div>
}
<div class="well">
    <div class="row">
        <div class="span2">
            <img src="http://placehold.it/180x180" alt="">
        </div>
        <div class="offset2">
            <h1>@Model.Title</h1>
            <a href="@Url.Action("EditSong", "Resources", new { id = Model.Id })" class="btn btn-primary">
                <i class="icon-pencil icon-white"></i> Edit</a>
            @if (Model.IsActive)
            {
                <a href="@Url.Action("DeactivateSong", "Resources", new { id = Model.Id })" class="btn btn-danger">
                    <i class="icon-off icon-white"></i> Deactivate</a>
            }
            else
            {
                <a href="@Url.Action("ReactivateSong", "Resources", new { id = Model.Id })" class="btn btn-success">
                    <i class="icon-off icon-white"></i> Reactivate</a>
            }
        </div>
    </div>
</div>
